
body {
    margin: 0px;
    color: white;
    background: #1F2937;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/* --TITTLE --Start--- */
h2{
    font-size: 55px;
    margin-bottom: 8px;
    
}

span{
    color:#4ADF86;
    display: block;

}
/* --TITTLE --End--- */

/* --INNER-TEXT --Start--- */
h6{
    font-weight: lighter;
    font-size: 17px;
    color: #D5D4D8;

    margin-top: 0;
    margin-left: 1px;
    margin-bottom: 30px; 
    
}
/* --INNER-TEXT --End--- */

/* ---BUTTON --Start--- */
button{
    background: #10B981;
    padding: 8px 15px;
    border-radius: 6px;

    font-size: 16px;
    color:  white;
    text-shadow: 0 0 20px  #1F2937;
   
}
/* ---BUTTON --End--- */

/* ---PASSWORD-SECTION --Start--- */
.password-generate{
    border-top: 1.5px solid #2F3E53;
    margin-top: 40px;
    padding: 0px;

    display: flex;
    justify-content:  space-between; 
 
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #55F991;
    font-size: 15px;
    text-shadow: 0 0 2px  maroon;

    width: 200px;
    height:35px;
    margin-top: 50px;
    border-radius: 3px;
    background: #273549;

}
/* ---PASSWORD-SECTION --End--- */


